:root {
    --head-bakground-color: darkblue;
    --head-border: black;
}

nav {
    background-color: var(--head-bakground-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
}
    h1 {color: darkblue;}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--head-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {padding: 0;}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--head-border); 
    padding: 1rem;
    background-color: var(--head-bakground-color;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top:1px solid #000;
    text-align: center;
}